body {
  font-family: 'Space Grotesk', sans-serif;
  background-image: url(https://i.postimg.cc/y6GypJJH/background.jpg);
  /* display: inline-block; */
}

header {
  padding-top: 20px;
  padding-left: 35px;
  font-weight: bold;
  font-size: 2em;
  text-align: right;
  color:white;
  display: flex;
}

h1 {
  padding-bottom: 16px;
  margin: 15px;
}

header img {
  width: 110px;
  height: 90px;
}

.search-filter-container {
  background-color: #0B3D91;
  display: flex;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 35px;
  margin-right: 47px;
  color: white;
}

.search-bar, .filter-bar {
  flex: 1;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
  max-width: 300px;
  color:white
}

.search-bar label {
  margin-right: none;
}

.search-bar input[type="text"] {
  outline: none;
  border-style: inset;
  flex: 1;
  border-right: none;
  padding: 8px;
  color: white;
}

#input {
  background-color: #333;
  display: block;
  max-width: 100%;
}

.search-bar img {
  background-color: #333;
  width: 18px;
  height: 21px;
  display: flex;
  padding-top: 6px;
  padding-bottom: 5px;
  border: 2px;
  padding-right: 7px;
  border-style: inset;
  border-left: none;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-top-color: #212121;
}

.filter-bar {
  padding-bottom: 50px;
  text-align: left;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.astro-card-container {
  flex: 1 0 300px;
  color: rgb(2, 0, 25);
  padding: 5px;
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.astro-card-information {
  text-decoration: none;
  width: 300px;
  height: 530px;
  background-color: whitesmoke;
  border-style:inset;
  border-color: whitesmoke;
  border-radius: 3px;
  padding: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin: 5px;
}

.astro-card-information img {
  width: 280px;
  height: 280px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


@media (max-width: 848px){
  header img {
    max-width: 80px;
    max-height: 65px;
  }

  h1{
    font-size: 1em;
  }

  .search-bar{
    width: 250px;
    height: 90px;
    padding-right: 10px;
  }
}

@media (max-width: 600px){

  body {
    display: flex;
    flex-direction: column;
  }

  header img {
    max-width: 80px;
    max-height: 65px;
    display: flex;
  }

  header {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  h1{
    font-size: 0.7em;
    margin-left: 1px;
    margin-right: 1px;
    padding-bottom: 8px;
    padding-top: 8px;
    /* display: flex; */
    /* flex-direction: row; */
  }

  .search-bar{
    max-width: 299px;
    max-height: 100px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    max-width: 140px;
    display: contents;
    /* font-size: 0.9px; */
    /* display: flex; */
    /* display:  flex; */
    /* display: flex; */
  }

  #input {
    font-size: 0.5em;
    /* height: 17px; */
  }

  .search-bar img {
    height: 13.7px;
    width: 13px;
  }

  .filter-bar{
    padding-bottom: 20px;
    padding-top: 1px;
    padding-left: 11px;
    padding-right: 7px;
    font-size: 0.7em;
    max-width: 150px;
  }

  .search-filter-container{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 25px;
    margin-left: 25px;
    margin: 1px;
    flex-direction: row;
    align-items: center;
  }

  .astro-card-information{
    width: 250px;
    /*height: 442px;*/
    height: 390px;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
    font-size: 0.8em;
  }

  .astro-card-information img {
    width: 233px;
    height: 233px;
  }

}
